/* main-content_____________________________________________________________________________ */
.main-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

/*    sidebar_____________________________________________________________________________ */
.main-container .left-side-bar {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: aliceblue;
  height: 100%;
  border-right: 3px solid black;
}

.main-container .left-side-bar .account {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid black;
}

.main-container .left-side-bar .account img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin: 10px;
}

.main-container .left-side-bar .account .user-information {
  line-height: 150%;
}

.main-container .left-side-bar .account .user-information .user-name {
  font-size: 1.1rem;
}

.main-container .left-side-bar .account .user-information .role {
  font-size: .8rem;
  color: gray;
}

.main-container .left-side-bar .categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-container .left-side-bar .categories-item {
  display: grid;
  grid-template-columns: 60px 1fr auto;
  align-items: center;
  padding: 10px 0px 5px 15px;
}

.main-container .left-side-bar .categories-item.log-out {
  margin-bottom: 20px;
}

.main-container .left-side-bar .categories-item>* {
  margin-right: 15px;
}

.main-container .left-side-bar .categories-item .icon svg {
  width: 35px;
  height: 25px;
}

.main-container .left-side-bar .categories .dropdown-container {
  margin-left: 100px;
  line-height: 170%;
}

/*    table_________________________________________________________________________________________ */
.main-container .main-sect {
  margin: 10px;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
  gap: 20px;
}

.main-container .main-sect>* {
  border-radius: 10px;
}

/*        tools______________________________________________________________________________________________ */
.main-container .main-sect .tools {
  height: 120px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  gap: 25px;
}

.main-container .main-sect .tools .tool {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
  font-size: .8rem;
  text-align: center;
  text-transform: uppercase;
}

.main-container .main-sect .tools .tool svg {
  height: 45px;
}

.main-container .main-sect .tools .search-form {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main-container .main-sect .tools .search-form #category {
  height: 40px;
  font-weight: bold;
  width: 200px;
  padding-right: 20px;
  font-size: 1.2rem;
}

.main-container .main-sect .tools .search-form .search-input {
  height: 40px;
  font-size: 1.2rem;
  padding: 10px;
  width: 200px;
  border: gray 2px solid;
}

.main-container .main-sect .tools .search-form .submit-btn {
  display: flex;
  gap: 20px;
  padding: 5px 10px;
  width: max-content;
  font-size: 1.1rem;
  white-space: nowrap;
  background-color: white;
  border: 2px solid black;
  outline: none;
  height: 40px;
  align-items: center;
}

.main-container .main-sect .tools .search-form .submit-btn svg {
  width: 25px;
}

/*        table___________________________________________________*/
.main-container .main-sect .table .wrapper {
  width: 100%;
  max-height: 100%;
  max-height: 200px;
  position: relative;
  /* overflow-y: auto; */
  /* bottom: 10; */
}

.main-container .main-sect .table table {
  width: 100%;
  /* max-height: 200px; */
  overflow-y: auto;
  /* padding: 50px 0px; */
}

.main-container .main-sect .table table tr:nth-child(even) {
  background-color: rgb(217, 217, 217);

}

.main-container .main-sect .table table tr th {
  padding: 10px;
  /* border: solid black 1px; */
}

.main-container .main-sect .table table tr td {
  padding: 10px 20px;

}