.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: white;
    border: 5px solid black;
    overflow: 'auto';
    /* padding-bottom: 20px; */
}

.hide {
    opacity: 0;
    display: none;
}

.container {
    transition: 1s;
    /* overflow: hidden; */
    height: 0px;
    width: 0px;
}