.bold {
    font-weight: bold;
}

.left-side-bar {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: aliceblue;
    max-height: 100vh;
    border-right: 3px solid black;
    overflow-y: auto;
    padding-bottom: 10px;
}

.left-side-bar .account {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid black;
}

.left-side-bar .account img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin: 10px;
}

.left-side-bar .account .user-information {
    line-height: 150%;
}

.left-side-bar .account .user-information .user-name {
    font-size: 1.1rem;
}

.left-side-bar .account .user-information .role {
    font-size: .8rem;
    color: gray;
}

.left-side-bar .categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.left-side-bar .categories-item {
    display: grid;
    grid-template-columns: 60px 1fr auto;
    align-items: center;
    padding: 10px 0px 5px 15px;
}

.left-side-bar .categories-item>* {
    margin-right: 15px;
}

.left-side-bar .categories-item .category-title a {
    text-decoration: none;
    color: black;
}

.left-side-bar .categories-item .icon svg {
    width: 35px;
    height: 25px;
}

.left-side-bar .categories .dropdown-container {
    margin-left: 100px;
    line-height: 170%;
}

.left-side-bar .arrow svg {
    height: 20px;
}

.left-side-bar .dropdown-container .item {
    list-style-type: disc;
}