th,
td {
    border-left: 1px solid black !important;
}

.table {
    overflow-y: auto;
    position: relative;
    height: 85%;
    border-radius: 5px;
    background-color: gray;
    border: 2px solid black;
}

.table table {
    width: 100%;
    overflow-y: auto;
    background-color: white;
    border: 10px;
    border-radius: 5px;
}

.table table tr:nth-child(even) {
    background-color: rgb(217, 217, 217);

}

.table table tr th {
    padding: 10px;
    font-weight: bold;

}

.table table tr td {
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2rem;
}