.data-display th,
.data-display td {
    border-left: 1px solid black;
}

.table {
    overflow-y: auto;
    position: relative;
    height: 85%;
    border-radius: 10px;
    background-color: gray;
    border: 2px solid black;
}

.table table {
    width: 100%;
    background-color: white;
}

.table table tr:nth-child(even) {
    background-color: aliceblue;

}

.table table tr th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    border-bottom: 2px solid black;
}

.table table tr td {
    padding: 10px 15px;
    text-align: center;
    font-size: 1.1rem;
}